body{
font-family:Helvetica Neue, Helvetica, sans-serif;
background:black;
  margin: 0;
  padding: 0;
}
#root{
    margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}
div{
 margin: 0;
  padding: 0;
}

video{
  position: fixed;
  right: 0;
  bottom: 5%;
  width: 100%;
  height: 90%;
}
.hidden{
    transition: opacity 0.2s linear;
    visibility:none;
    opacity:0;
    
}
.active {
   visibility:visible;
       opacity:1;
  
}

.gallery video {
  position: fixed;
  right: 0;
  bottom: 5%;
  width: 100%;
  height: 90%;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.2s linear;
}

.gallery video.active {
  opacity: 1;
  z-index: 1;
}

.content {
  position: fixed;
  top:0;
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index:5;
}

#logo{
  position:fixed;
  top:0;
  left:0;
  width:30vw;
}
#backbtn {
  position:fixed;
  top:88%;
  left:80%;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  z-index:5;
}

#backbtn:hover {
  background: #ddd;
  color: black;
}

#buybtn{
  position:fixed;
  top:30%;
  left: 10%;

}
#enterdiv {
  position:fixed;
  width:100vw;
  top:40%;
background: transparent;
}
#enterbtn {
  cursor: pointer;
  z-index:5;
  background: transparent;
border:none;
align-self:center;
}
#enterbtn img{
  width:40vh;
  justify-self:center;
}
#enterbtn img:hover {
 width: 35vh;
}
a:hover{
  cursor:pointer;
}
#link1{
  position:fixed;
  background:transparent;
  width: 14vw;
  height:10vw;
  left:25%;
  top:50%;
}
#link2{
  position:fixed;
  background:transparent;
  width: 14vw;
  height:12vh;
  left:43%;
  top:41%;
}
#link3{
  position:fixed;
  background:transparent;
  width: 8vw;
  height:12vw;
  left:63%;
  top:42%;
}

#link4{
  position:fixed;
  background:transparent;
  width: 14vw;
  height:20vw;
  left:73%;
  top:65%;
}

#flyer{
width:25vw;
position:fixed;
left:72%;
top:4%;
}
#flyerimg{
  width:25vw;
  box-shadow: -1px -1px 30px 3px rgba(210, 246, 181, 0.372);
}

#flyerbtn{
  position:fixed;
  left:73%
}
#shirt{
  width:200px;
}
#magimg{
  width:300px;
}
#shirtbuybtn{
  position:fixed;
  top:20%;
  left: 40%;

}

#youtube{
  width:30vw;
  height:30vh;
    background-color: transparent; 
  position:fixed;
  top:20%;
  left:35%;
}
#mflex{
  display:flex;
 flex-direction:column;
 padding-bottom:50px;
}
#mlogo{
  position:relative;
  top:0;
  left:0;
  width:60vw;
}


#mflyer{
width:80vw;
position:relative;
left:10%;
padding-bottom:20px;

}
#mflyerimg{
  width:80vw;

}

#mflyerbtn{
  position:relative;
  left:5%
}

#vidcontainer{
  width:90vw;
  height:20vh;
  padding-bottom:5vh;
  padding-top:5vh;
}

#vidcontainer iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#footer{
  position:fixed;
 padding-bottom:5vh;
 width:10vw;
 top:96%;
 left:45%;
}
#footer p{
  font-family:Helvetica, sans-serif;
  color:white;
  font-size:12px;
}
#mfooter{
 padding-bottom:5vh;
}
#mfooter p{
  font-family:Helvetica, sans-serif;
  color:white;
}